* {

    margin: 0 auto;
    background: #FAFAFA;
    font-family: Segoe UI;


}

.main {

    display: flex;
    justify-content: center;
    align-items: center;


}

.box-superior {
    width: 390px;
    height: 664px;
    flex-shrink: 0;
}

.container-under {
    border-radius: 1px;
    width: 350px;
    height: 399.984px;
}


.container-under .logo {
    width: 245px;
    height: 86px;
    margin-top: 36px;
    margin-bottom: 15px;
    display: flex;

}

.email {
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content: center;
    width: 270px;
    height: 38px;


}

.input-email {
    margin-left: 60px;
    margin-bottom: px;
    padding: none;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background: #FAFAFA;
    outline: 0;
    box-shadow: none;
    border: 2px;

}

.password {
    margin-bottom: 14px;
    justify-content: center;
    width: 270px;
    height: 38px;

}

.input-password {
    margin-left: 60px;
    margin-bottom: 14px;
    padding: none;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    background: #FAFAFA;
}

.button {
    background-color: #0094f6ba;
    width: 270px;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 18px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.OU {
    display: flex;

    width: 270px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 26px;

}

.OU .ou-left {
    width: 107.25px;
    height: 1px;
    flex-shrink: 0;

}

.OU .ou-medio {
    color: #8E8E8E;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.999px;
    /* 115.38% */
    text-transform: uppercase;
}

.OU .ou-right {
    width: 107.25px;
    height: 1px;
    flex-shrink: 0;
}

.a {
    display: flex;
    width: 143.325px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #385185;
    text-align: center;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;

}

.review {
    display: flex;
    margin-bottom: 22px;
    border: 0;
    color: #385185;
    justify-content: space-between;
    font-style: normal;
}

*/ .review .login {
    margin: 29px;
    color: #385185;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    

}

.review .forgot {
    border-top: 22px;
    color: #00376B;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border: 0;
}

.dontaccount {
    text-align: center;
    margin-top: 79.5px;
    margin-bottom: 68.5px;
}

.dontaccount .account {

    text-decoration: none
}

.signup {
    color: #0095F6;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;

}

.get-app {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 11px;

}

.download-app {
    display: flex;
    gap: 8px;
    margin-top: 21px;
    border-left: 0px;
    border-right: 0px;
    justify-content: center;


}


.download-app .googleplay {
    width: 134.281px;
    height: 40px;
}

.download-app a {
    margin: 1px;
}

.download-app .microsoftstore {
    width: 110.766px;
    height: 40px;

}

.footer {
   
    width: 390px;
    height: 95px;
    margin:auto; 
   
    flex-wrap: nowrap;
    padding: 24px 16px 61px 16px;  



}


.site {
    display: flex;
    justify-content: flex-start;
}

.sites-link {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    
}

.sites-link a {
    text-decoration: none;
    color: #8E8E8E;
    justify-content: space-between;
    
}

.copyright {
    margin-top: 35px;
    margin-left: 70px;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap-reverse;
    

}